*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

.heading,.logo{
    text-align-last: center;
}
.logo{
    text-align-last: center;
}



#logo{
    border-radius:50%;
    border: 1px solid;
    width: 40px;
    position: relative;
    right: 125px;
    top: 35px;
}
hr{
    margin-top: 40px;
    width: 1000px;
    position: relative;
    left: 180px;
}

.info{
    position: absolute;
    left: 980px;
}

#con{
    position: relative;
    right: 40px;
}
#menu{
    display: flex;
}
#submenu{
    margin: 25px;
    margin-bottom: 0px;
    position: relative;
    left: 450px;
    list-style-type: none;
    font-size: 20;
    background-color: blanchedalmond;
    border-radius: 5px;
}

#image1{
    width: 25%;
    border-radius: 10px;
    margin-left: 20px;
}

#image2{
    width: 30%;
    border-radius: 10px;
    margin-left: 100px;

}

#images{
    display: flex;
    margin: 40px;
    margin-bottom: 20px;
}

#image3{
    width: 25%;
    border-radius: 10px;
    margin-left: 100px;
}
.n1:hover{
    color: black;
}
.n2:hover{
    color: black;
}
.n3:hover{
    color: black;
}




#names{
    display: flex;
}
.n1{
    margin-left: 160px;
    color: blueviolet;
}
.n2{
    margin-left: 370px;
    color: blueviolet;
}
.n3{
    margin-left: 440px;
    color: blueviolet;
}

#head1{
    text-align-last: center;
    background-color: rgb(11, 12, 14);
    height: 80px;
    margin: 20px;
    padding-top: 20px;
    color: aliceblue;
    
    border-radius: 10px ;
}


#image4{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
}
#row1{
    display: flex;
}

#subhead1{
    margin-top: 20px;
}

.subhead1{
    margin-left: 240px;
    position: relative;
    bottom: 185px;
}

#row2{
    display: flex;
}

#row3{
    display: flex;
    margin-top:-15px;
}



#image4:hover{
    box-shadow: 3px 3px 5px;
}

#subhead1:hover{
    color: rgb(34, 139, 192);
}
